{{!-- <html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>Thankyou for purchasing;<br/> <a href="/">Shop More</a></p>
      </div>
      
   --}}
 <div class="jumbotron text-center" style="margin-top:55px ;">
  <h1 class="display-3" style="font-family: georgia,garamond,serif;">Success</h1>
  <p class="lead"><strong>Thankyou For Your Purchase </strong> </p>
  <hr>
  
  <p class="lead">
    <a class="btn  btn-sm" style="background-color:blue; color: white;" href="/orders" role="button">Continue to OrderPage</a>
  </p>
</div>
<div id="ada">

  <div class="container" id="ABC">
     
      <div class="row pad-top-botm ">
         <div class="col-lg-6 col-md-6 col-sm-6 ">
            <img src="/img/core-img/logo.png" style="padding-bottom:20px;"> 
         </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            
               <strong>Essence Group Limited</strong>
              <br>
                  <i>Address :</i> Kochi, Kerala
              <br>
                  89th street , Suite 69,
              <br>
                  INDIA.
              
         </div>
     </div>
     <div class="row text-center contact-info">
         <div class="col-lg-12 col-md-12 col-sm-12">
             <hr>
             <span>
                 <strong>Email : </strong>  Essence@design.com 
             </span>
             <span>
                 <strong>Call : </strong>  +91-1123546789 
             </span>
              <span>
                 <strong>Fax : </strong>  +012340-908- 890 
             </span>
             <hr>
         </div>
     </div>
     
     <div class="row pad-top-botm client-info">
         <div class="col-lg-6 col-md-6 col-sm-6">
         <h4>  <strong>Client Information</strong></h4>
           <strong> Robin <b>Justin</strong>
             <br>
                  <b>Address :</b> Malieakkal(H)
              <br>
                 INDIA
             <br>
             <b>Call :</b> 7034049225
              <br>
             <b>E-mail :</b> robinjustinz011@gmail.com
         </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            
               <h4>  <strong>Payment Details </strong></h4>
            <b>Bill Amount :  3000 INR 
              {{!-- <br>
               Bill Date :  01th August 2014
              <br>
               <b>Payment Status : COD</b>
               <br>
               Delivery Date :  10th August 2014
              <br>
               Purchase Date :  30th July 2014 --}}
         </div>
     </div>
     <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
           <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                            
                                    <th>Quantity.</th>
                                    <th>Unit Price</th>
                                     <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              {{#each result}}
                             
                                <tr>
                                    <td>{{this.product.productname}}</td>
                                  
                                    <td>{{this.quantity}}</td>
                                    <td>₹{{this.product.price}}INR</td>
                                    <td> ₹{{this.subtotal}} INR</td>
                                </tr>
                                
                              
                                {{/each}}
                            </tbody>
                        </table>
               </div>
             <hr>
             {{#each result}}
             <div class="ttl-amts">
               <h5>  Total Amount : {{this.total}} INR </h5>
             </div>
             <hr>
              {{!-- <div class="ttl-amts">
                  <h5>  Tax : 90 USD ( by 10 % on bill ) </h5>
             </div> --}}
             {{!-- <hr>
              <div class="ttl-amts">
                  <h4> <strong>Bill Amount : {{this.total}}INR</strong> </h4>
             </div> --}}
             {{/each}}
         </div>
     </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <strong> Important: </strong>
             <ol>
                  <li>
                    This is an electronic generated invoice so doesn't require any signature.

                 </li>
                 <li>
                     Please read all terms and polices on  www.yourdomaon.com for returns, replacement and other issues.

                 </li>
             </ol>
             </div>
         </div>
      <div class="row pad-top-botm">
         <div class="col-lg-12 col-md-12 col-sm-12">
             <hr>
            
              <a href="#" class="btn btn-success btn-lg" id="cc">Download In Pdf</a>

             </div>
         </div>
 </div>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


 <style>
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:30px;
}
.pad-top-botm {
    padding-bottom:40px;
    padding-top:60px;
}
h4 {
    text-transform:uppercase;
}
/* =============================================================
   PAGE STYLES
 ============================================================ */

.contact-info span {
    font-size:14px;
    padding:0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
margin-bottom: 0px;
}

.client-info {
    font-size:15px;
}

.ttl-amts {
    text-align:right;
    padding-right:50px;
}
</style>
